@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* @import "../../../node_modules/bootstrap/dist/js/bootstrap.bundle"; */

/* =============================== Common ===================================== */

body {
    font-family: "Inconsolata", monospace;
    color: #4d4d4d;
    overflow: auto;
    position: fixed;
    width: 100vw;
    /* height: 100vh; */
}

.page {
    min-height: 100vh;
}

.sub-section-name {
    color: rgba(0, 212, 255, 1);
    text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    -webkit-text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    font-size: 40px;
}

.underline {
    height: 5px;
    width: 100px;
    background-color: #4d4d4d;
    border-radius: 10px;
}

.table-scroll {
    overflow: auto;
    height: calc(75vh - 130px);
}

.edit-icon {
    color: #00d2ff;
    border: 1px solid #00d2ff;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.delete-icon {
    color: #ff359b;
    border: 1px solid #ff359b;
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 20px;
}

/* =============================== Scrollbar ===================================== */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(24, 24, 24, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 53, 155, 0.5);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 53, 155, 0.7);
}

/* =============================== Select ===================================== */
.down-caret-icon {
    font-size: 20px;
    color: #00d2ff
}

.option:hover{
    background-color: rgb(255, 53, 155,0.5);
}

/* =============================== Glassmorphism ===================================== */
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, ■#dff1ff);
}

.background-container .color {
    position: absolute;
    filter: blur(150px);
}

.background-container .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
}

.background-container .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
}

.background-container .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
}

.content-container {
    position: relative;
}

.content-container .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid Orgba(255, 255, 255, 0.2);
    border-bottom: 1px solid Orgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animateSquare 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animateSquare {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.content-container .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    --i: 0;
}

.content-container .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    --i: 1;
}

.content-container .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    --i: 2;
}

.content-container .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
    --i: 3;
}

.content-container .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    --i: 4;
}

/* main content */
.content {
    position: relative;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-backdrop {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* =============================== Checkbox ===================================== */
/* The checkbox-container */
.checkbox-field {
    margin-top: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-text {
    text-align: left;
    margin-left: 40px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #332e2e50;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #00d2ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 7px;
    width: 7px;
    height: 12px;
    border: solid #212529;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* =============================== Form ===================================== */

.form-view {
    width: 500px;
}

.form-card {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
}

.input-field {
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.form-button {
    background-color: rgba(0, 212, 255, 1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: 900;
}

::placeholder {
    font-size: 20px;
}

input:focus {
    outline: none !important;
}

.form-name {
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0px 20px 0px;
}

.link-text {
    color: rgba(0, 212, 255, 1);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .form-view {
        width: 90%;
    }
}

/* =============================== Navbar ===================================== */

.navbar {
    height: 50px;
    z-index: 2;
    position: relative;
}

.navbar-dropdown {
    display: none;
    font-size: 18px;
    color: white;
    top: 40px;
    right: 10px;
    position: absolute;
    background: rgb(255, 53, 155, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-username-section:hover .navbar-dropdown {
    display: block;
}

.navbar-web-name {
    color: #00d2ff;
}

.navbar-username {
    color: #ff359b;
}

.thin-line {
    border: 1px solid #00d2ff;
    height: 0.5px;
}

/* =============================== Sidebar ===================================== */

.sidebar {
    width: 120px;
}

.sidebar-option {
    height: 85px;
    border-left: 3px solid transparent;
    color: rgba(0, 212, 255, 1);
}

.icon {
    font-size: 30px;
}

.active {
    background-color: rgba(0, 212, 255, 0.5);
    color: white;
    border-left: 5px solid rgba(0, 212, 255, 1);
}

/* =============================== Dashboard ===================================== */

.dashboard-container {
    height: 75vh;
    width: 85vw;
}